*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)0%, rgba(0,0,0,0.5)0%), url(./img/tree.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin:auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}
.logo{
    color: darkorchid;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color:aliceblue;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease;
}

ul li a:hover{
    color:blueviolet;
}
/* barra de pesquisa */
.search{
    width: 330px;
    float: left;
    margin-left: 270px;
}

.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid aquamarine;
    margin-top: 13px;
    color: blue;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn{
    width: 100px;
    height: 40px;
    background:darkorchid;
    border: 2px solid darkorchid;
    margin-top: 13px;
    color:white;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}
/* Titulo/Paragrafo/Botão */
.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color:white;
    position: relative;
}

.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}

.content .cn{
    width: 160px;
    height: 40px;
    background: rgba(137, 43, 226, 0.637);
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: .4s ease;
    /* usar padding para o bottom ficar no tamanho correto */
    padding: 10px 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.content .cn a{
    text-decoration:none;
    color:white;
    transition: .3s ease;
}

.cn:hover{
    background-color:rgb(131, 0, 253);
}

.content span{
    color:darkorchid;
    font-size: 65px;
}
/* formulario */
.form{
    width: 250px;
    height: 380px;
    background: linear-gradient(rgba(153, 50, 204, 0.158),rgba(0, 0, 0, 0.616));
    position: absolute;
    top: -20px;
    left: 870px;
    border-radius: 10px;
    padding: 25px;
    font-family: 'Times New Roman', Times, serif;
}

.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: #fff;
    font-size: 22px;
    background-color: darkorchid;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.form input{
    margin-left: 14px;
}

.form input[type="email"]{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid darkorchid;
    border-top: none;
    border-right: none;
    border-left: none;
    color: darkorchid;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 20px;
    font-family: sans-serif;
}

.form input[type="password"]{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid darkorchid;
    border-top: none;
    border-right: none;
    border-left: none;
    color: darkorchid;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 20px;
    margin-bottom: 25px;
    font-family: sans-serif;

}

.form input:focus{
    outline: none;
}

::placeholder{
    color: blueviolet;
    font-family: Arial;
}


.btnn{
    width: 240px;
    height: 40px;
    background: darkorchid;
    border: none;
    margin-top: 100px;
   
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    color: rgb(4, 19, 235);
    padding: 10px 70px;
    margin-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
   
}

.btnn:hover{
    background: blueviolet;
    color: darkorchid;
}

.btnn a{
    text-decoration: none;
    color:white;
    font-weight: bold;
    padding: 20px;
    border-radius: 0%;
    margin-top: 60px; 
}

.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}

.form .link a{
    text-decoration: none;
    color: darkorchid;
}

.liw{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}
/* icons */
.icons a{
    text-decoration: none;
    color: aliceblue;
}

.icon ion-icon{
    color:rgb(255, 240, 240);
    font-size: 22px;
    padding-left: 14px;
    padding-top: 5px;
    transition: 0.3s ease;
    margin-top: 10px;
    text-align: center;
    margin-left: .81px;
}

.icon ion-icon:hover{
    color:blueviolet;
}

